In [36]:
# constants
print(123)

123

In [3]:
print(98.6)

98.6

In [4]:
x1q3z9ocd	=	35.0	
x1q3z9afd	=	12.50	
x1q3p9afd	=	x1q3z9ocd	* x1q3z9afd
print(x1q3p9afd)

437.5

hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)

In [35]:
# Numeric Expressions
xx	=	2	
xx	=	xx	+ 2
print(xx)

4

In [10]:
yy = 440 * 12
>>> print(yy)

5280

In [13]:
zz = yy / 1000
>>> print(zz)

5.28

In [14]:
jj = 23
>>> kk = jj % 5
>>> print(kk)

3

In [15]:
print(4 ** 3)

64

In [38]:
# What Does “Type” Mean?
ddd = 1 + 4
print(ddd)

5

In [17]:
eee = 'hello ' + 'there'
>>> print(eee)

hello there

In [39]:
# Several Types of Numbers
xx = 1
type (xx)

int

In [22]:
temp = 98.6
>>> type(temp)

float

In [34]:
# types conversions

print(float(99) + 100)

199.0

In [24]:
i = 42
>>> type(i)

int

In [25]:
f = float(i)
>>> print(f)

42.0

In [27]:
# Integer Division
print(10	/	2)
print(9	/	2)
print(99 / 100) 

print(10.0	/	2.0)
			
print(99.0	/	100.0)

5.0
4.5
0.99
5.0
0.99

In [28]:
# User Input# 
nam = input('Who are you? ')
print('Welcome', nam)

Who are you? SYEDA RABIA IJAZ
Welcome SYEDA RABIA IJAZ

In [30]:
# Converting User Input# 
inp = input('Europe floor?')
usf = int(inp) + 1
print('US floor', usf)

Europe floor?1
US floor 2

In [40]:
# Write a program to prompt the user for hours and rate per hour to compute gross pay.

# Prompt the user for hours worked and hourly rate
hours_worked = float(input("Enter the number of hours worked: "))
hourly_rate = float(input("Enter the hourly rate: "))

# Calculate the gross pay
gross_pay = hours_worked * hourly_rate

# Display the result
print(f"Gross pay: ${gross_pay:.2f}")

Enter the number of hours worked: 35
Enter the hourly rate: 2.75
Gross pay: $96.25